.searchFormContainer{
    max-width: 460px;
    height: 120px;
    padding:20px 60px;
    margin-top: 1.4rem;
    border-radius: 20px;
    box-shadow:
    inset 4px 4px 5px 0 rgba(255, 255, 255, .25),
    inset -4px -4px 5px 0 rgba(0, 0, 0, 0.125),
    0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6px);
    background: linear-gradient(
      120deg,
      rgba(245, 217, 126,.35),
      rgba(255, 255, 255, .65), 70%, 
      rgba(245, 217, 126,.35)
    );
}
label{
  display: block;
  margin-bottom: 1.25rem;
  font-weight:900;
  color:white;
}
input{
    width: 100%;
    border: none; 
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 10px;
    color:#758986;
}