.cardCocktail{
    max-width: 300px;
    width:100%;
    height: 340px;
    background-color: rgba(255, 250, 250, .40);
    border-radius: 20px;
    border: 1px solid rgba(255, 250, 250, .25);
    box-shadow:
    inset 4px 4px 5px 0 rgba(255, 250, 250, .25),
    inset -4px -4px 5px 0 rgba(0, 0, 0, 0.125),
    0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6px);
}
.cardCocktail h2{
    color: #8d0203;
    text-align: center;
    font-size: 1.4rem;
}
.cardImageContainer{
    width:100%;
    height:162px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    display:flex;
    justify-content:center;
    align-item:center;
}
.cardImageContainer img{
     width:160px;
    height:160px;
}
.cardContent{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    padding-left: 28px;
}
.cardContent p{
    font-size: 1.1rem;
    color: white;
}
.btnMore{
    text-transform: uppercase;
    color:white;
    border:none;
    padding: 0.45rem 0.8rem;
    display: inline-block;
    cursor: pointer;
    font-size: 0.8rem;
    background:#8d0203;
    border-radius: 5px;
}
.btnMore:hover{
    background:white;
    color:#8d0203;
}
.btnContainer{
    display:flex;
    justify-content: center;
    margin-top:20px;
}

