header{
    width:100%;
    height: 4rem;
    background-color:black;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-left:40px;
    padding-right:40px;
    box-shadow: 0px 10px 13px -7px #3A331E, 26px 26px 37px 24px rgba(245,217,126,0);
    z-index:100;
}
img{
    width: 4rem;
    border-radius:50%;
}
ul{
    display:flex;
}
ul a{
    color:white;
    font-weight:bold;
    font-size:1.4rem;
    padding: 0.25rem 0.5rem;
  
}
.logo{
    color:white;
    font-weight:bolder;
    font-size:1.4rem;
    box-shadow: 0px 10px 13px -7px #3A331E, 26px 26px 37px 24px rgba(245,217,126,0);
    
}

