@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
body {
  margin: 0;
  font-family:'Kalam', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-image: url('./Assets/pexels-aram.jpg');
    color:black;
    background-color:white; 
    background-attachment:fixed;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
main{
  padding-top: 100px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
h1{
  color: white;
  text-align:center;
  margin-top:20px;
}
.sectionSearch{
  display: flex;
  justify-content : center;
  align-item: center;
}
.errorContainer{
  max-width: 600px;
  width:100%;
  height: 500px;
  display: flex;
  padding: 0 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(117, 137, 134, .35);
  border-radius: 20px;
  border: 1px solid rgba(117, 137, 134, .25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
  backdrop-filter: blur(15px);
}
h3{
  font-size: 10rem;
  color: #8d0203;
}
h3 + p{
  color: #8d0203;
  font-size: 4rem;
}
.btn-error{
  text-transform: uppercase;
  color:white;
  border:none;
  padding: 0.45rem 0.8rem;
  display: inline-block;
  cursor: pointer;
  font-size: 0.8rem;
  background:#8d0203;
  border-radius: 5px;
}
.btn-error:hover{
  background:white;
  color:#8d0203;
}
.errorMain, .aboutMain, .singleCocktailMain{
  padding-top: 100px;
  display:flex;
  justify-content: center;
  align-items:center;

}
.cardAbout{
  max-width: 600px;
  width:100%;
  height: 500px;
  display: flex;
  padding: 0 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:40px;
  background-color: rgba(117, 137, 134, .35);
  border-radius: 20px;
  border: 1px solid rgba(117, 137, 134, .25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
  backdrop-filter: blur(15px);
}
.titleAbout{
  font-size: 1.6rem;
  color:white;
  border-bottom: 2px solid #8d0203;
}
.titleAbout + p{
  line-height : 1.5;
  font-size:1.4rem;
  color:white;
}
.pAbout>a{
  color:#8d0203;
  font-weight: bolder;
}
.borderTitle{
  width:60px;
  height:4px;
  background-color:#8d0203;
}
.titleContainer{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
.singleCocktailContainer{
  max-width: 600px;
  width:100%;
  min-height: 500px;
  color:white;
  gap:20px;
  display: flex;
  padding: 0 2rem;
  flex-direction: column;
  background-color: rgba(117, 137, 134, .35);
  border-radius: 20px;
  border: 1px solid rgba(117, 137, 134, .25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
  backdrop-filter: blur(15px);
}
.singleCardContainer{
  display:flex;
  margin-top:20px;
  justify-content: center;
  align-items: center;
}
.singleCardImg{
  width:160px;
  height: 140px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: white;
}
.singleCardImg img{
  width:100%;
  height:100%;
}
.singleCardContent{
  width:60%;
}
.singleCardContent p{
  color:white;
  font-size:1.2rem;
}
.instructions p{
  color: white;
  font-size:1.2rem;
}
.instructions h3{
  font-size:1.2rem;
}
.ingredientsMeasures h3{
  font-size:1.2rem;
}






